<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- reset and normalize -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/reset.css">

    <link rel="stylesheet" href="css/style.css">

    <title>Document</title>
</head>
<body>
    <nav>
        <a href="/">
            <img class="logo" src='assets/chefs-hat.png' alt='recipe-tracker-logo'/>
        </a>
        <h1>Recipe Tracker</h1>
        <div class="login-out">
            <a href="/login">Login</a>
            <a href="/signup">Signup</a> 
        </div>  
    </nav>
    <section class="index-top">
        <div class="index-description">
            <div class="title-container">
                <h1>Your Recipe Tracker</h1>
            </div>
            <h3 class="best-buds-description">Find it hard to keep track of all the recipes that you want to try? Easily keep track with our recipe tracker! Login or Signup to create your own list of delicious options. Choose from your list or get a random selection on those nights you can't decide what to make. It's free!</h3>
            <div class="button-container">
                <a class='login btn' href="/login"> Login</a>
                <a class='signup btn' href="/signup"> Signup</a>
            </div>
        </div>
    </section>
</body>
</html>