:root {
    --main-bg-color: #034159;
    --main-text-color: #025951;
    --main-highlight-color: #0CF25D;

    --mid-bg-color: #02735E;
    --login-hover:  rgb(142, 254, 203);
    --signup-hover: #effae9;

    --alert-text: #e5e5e5;
}

body {
    background-color: var(--main-bg-color);
}

h1{
    color: var(--main-text-color);
}

/* 
===============
Nav  styles
=============== 
*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    box-shadow: 0 0 10px 1px rgba(255, 255, 255, 0.2);
    background-color: white;
}
nav a, nav h1 {
    font-size: 1.5rem;
    font-weight: bolder;
    text-decoration: none;
    color: var(--main-text-color);
}

nav h1 {
    font-size: 2.5rem;
}

nav a {
    padding-left: 25px;
}

.login-out {
    padding-right: 25px;
}

nav a:hover {
    color: var(--main-highlight-color)
}
.logo {
    height: 50px;
}


/* 
===============
INDEX.ejs  styles
=============== 
*/
a {
    text-decoration: none;
}
section {
    align-items: center;
    justify-content: center;
}
section h1{
    color: var(--main-text-color);
    font-size: 3rem;
}
.index-top { 
    background-image: url("https://images.pexels.com/photos/376464/pexels-photo-376464.jpeg?cs=srgb&dl=pexels-ash-376464.jpg&fm=jpg");
    background-color: white;
    min-height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.index-description {
    background-color: white;
    width: 400px;
    border-radius: 1.5rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.index-description h3 {
  font-size: 1rem;
}

.best-buds-description {
    margin: 2rem 0;
    line-height: 1.8rem;
}
section div h3 {
    font-size: 1.3rem;
}
.btn {
    display: flex;
    color: white;
    font-size: 1.3rem;
    font-weight: bolder;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    text-decoration: none; 
    border-radius: 5px; 
}
.login {
    background-color: var(--main-bg-color);
}
.login:hover {
    background-color: var(--login-hover);
    color: var(--main-text-color);
}
.signup{
    background-color: var(--main-bg-color);
}
.signup:hover {
    background-color: var(--login-hover);
    color: var(--main-text-color);
}
.button-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 2rem 4rem;
}

/*
===============
login.ejs & Sign Up styles
=============== 
*/
#login-section {
    width: 100vw;
    height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-container {
    max-width: 400px;
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
}
.form-container form {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.form-container h1 {
    font-size: 2.5rem;
    text-align: center;
}
.form-container .full-btn {
    width: 100%;
    background-color: var(--main-highlight-color);
    border: none;
    border-radius: 5px;
}
.form-container .full-btn:hover {
    opacity: 0.8;
    cursor: pointer;
    background-color: var(--login-hover);
    border: 1px solid var(--main-text-color);
}
.form-container p, .form-container input {
    margin: 15px 0;;
}
.form-container input {
    background-color: white;
    height: 35px;
}

.form-container a {
    text-decoration: underline;
    color: var(--main-text-color);
}
.underlined-input {
    background-color: var(--main-bg-color);
    border: none;
    outline: none;
    border-bottom: 1px solid var(--main-bg-color);
    color: var(--main-text-color)
}
.underlined-input:active {
    outline: none;
    border: none;
}

.alert {
    color: var(--alert-text)
}



/*
===============
meals.ejs styles
=============== 
*/


.main {
    display: flex;
}

.gallery-container {
    width: 50%;
}

.meals-header {
    width: 70%;
    font-size: 2rem;
    color: white;
    text-align: center;
    border: 1px solid var(--main-highlight-color);
    border-radius: 2rem;
    margin: 15px auto;
}

.meals-header h3 {
    margin: auto 20px;
}

.recipes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.recipe-card {
    width: 40%;
    height: 14rem;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 3px 5px 10px black;
}

.mealItems {
    height: 100%;
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.recipe-image {
    object-fit: cover;
    height: 6rem;
    width: 8rem;
    border-radius: .25rem;
    border: 1px solid var(--main-bg-color);
}

.recipe-title {
    font-size: 1.7rem;
    color: #034159;
    margin: 0;
    text-align: center;
}

.options {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.link-con {
    width: 75px;
    background-color: var(--main-text-color);
    border-radius: 1rem;
    text-align: center;
    font-size: 1.2rem;
    padding: 5px auto;
}

.link-con a {
    color: white;
    text-decoration: none;
}

.del, #r-del {
    width: 75px;
    color:white;
    background-color: #0CF25D;
    border-radius: 1rem;
    text-align: center;
    font-size: 1.2rem;
    padding: 5px auto;
}

.add-meal, .random {
    width: 100%;
    height: 250px;
}

.form {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}


.form input {
    width: 40%;
    padding: 12px 10px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.submit-btn {
    width: 100%;
    font-size: 1.2rem;
    color: var(--main-text-color);
    background-color: var(--main-highlight-color);
    border: none;
    border-radius: 5px;
}

.random .submit-btn {
    width: 200px;
    height: 40px;
    margin: 20px auto;
    border: 1px solid var(--main-text-color);
}

.submit-btn:hover {
    opacity: 0.8;
    cursor: pointer;
    background-color: var(--login-hover);
    border: 1px solid var(--main-text-color);
}

.container {
    display: flex;
    padding: 10px 0;
}

.random-info-box {
    width: 50%;
    text-align: center;
    color: white;
}

.random-info-box p {
    padding: 0 20px;
    font-size: 1.2rem;
}
